.wrap {
	margin-top: 100px;
	text-align: center;
}

.page-list {
	display: inline-block;
}

.cur-page,
.page-btn,
.disabled-btn,
.forward-btn,
.backward-btn,
.points {
	float: left;
	height: 40px;
	margin: 0 3px;
	font-size: 16px;
	text-align: center;
	line-height: 40px;
}

.cur-page,
.page-btn {
	width: 60px;
	border: 1px solid #eee;
}

.cur-page {
	border-color: #38f;
	color: #fff;
	background-color: rgb(87, 147, 231);
}

.page-btn:hover,
.forward-btn:hover,
.backward-btn:hover {
	text-decoration: none;
	background-color: #f1f1f1;
}

.points {
	margin: 0;
}

.disabled-btn,
.forward-btn,
.backward-btn {
	width: 70px;
	border: 1px solid #ddd;
	font-size: 20px;
	font-weight: bold;
}

.disabled-btn {
	color: #bbb;
	background-color: #e3e3e3;
}