a:hover {
      text-decoration: none;
}

body {
      background-color: #f0f3ef;
}

.wrap {
      position: relative;
      width: 190px;
      margin: 100px;
}

.wrap .main-menu-list {
      height: 468px;
      padding: 6px 0;
      background-color: #fefefe;
}

.wrap .main-menu-list .menu-item {
      height: 26px;
      padding-left: 12px;
}

.wrap .main-menu-list .menu-item.active {
      background-color: #d9d9d9;
}

.wrap .main-menu-list .menu-item-lk {
      display: none;
      height: 100%;
      line-height: 26px;
      color: #636363;
}

.wrap .main-menu-list .menu-item-lk:hover {
      color: #c81623;
}

.wrap .main-menu-list .menu-line {
      display: none;
}

.wrap .main-menu-list .menu-item-lk.show,
.wrap .main-menu-list .menu-line.show {
     display: inline-block;
}

.wrap .submenu-list {
      display: none;
      position: absolute;
      top: 0;
      left: 190px;
      width: 798px;
      height: 100%;
      background-color: #fefefe;
      box-shadow: 2px 0 10px rgba(0,0,0,.3);
}

.wrap .submenu-list.show {
      display: block;
}

.wrap .submenu .submenu-item {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      line-height: 468px;
      font-size: 50px;
}

.wrap .submenu .submenu-item.active {
      display: block;
}