.my-btn {
  --btn-width: 100px;
  --btn-height: 38px;
  --btn-fill-in-hover: #f972cb;
  --btn-pulse-hover: #ff7f82;
  --btn-close-l-r-hover: #34f;
  --btn-close-u-d-hover: rgb(144, 122, 241);
  --btn-raise-hover: rgb(143, 243, 103);
  --btn-slide-up-hover: rgb(87, 240, 194);
  --btn-slide-right-hover: rgb(247, 164, 71);
  --btn-slide-down-hover: rgb(241, 203, 96);
  --btn-slide-left-hover: #f4f;
  --btn-offset-hover: #fcf;
  width: var(--btn-width);
  height: var(--btn-height);
  border: 2px solid;
  background-color: #222;
  color: #eee;
  font-size: 18px;
  transition: box-shadow 0.5s, color 0.4s, font-weight 0.5s, transform 0.5s;
  -o-transition: box-shadow 0.5s, color 0.4s, font-weight 0.5s, transform 0.5s;
  -ms-transition: box-shadow 0.5s, color 0.4s, font-weight 0.5s, transform 0.5s;
  -moz-transition: box-shadow 0.5s, color 0.4s, font-weight 0.5s, transform 0.5s;
  -webkit-transition: box-shadow 0.5s, color 0.4s, font-weight 0.5s, transform 0.5s;
  cursor: pointer;
}

.my-btn.my-btn-fill-in {
  color: #8fc866;
}

.my-btn.my-btn-fill-in:hover {
  border-color: var(--btn-fill-in-hover);
  -webkit-box-shadow: inset 0 0 0 var(--btn-height) var(--btn-fill-in-hover);
  -moz-box-shadow: inset 0 0 0 var(--btn-height) var(--btn-fill-in-hover);
  -ms-box-shadow: inset 0 0 0 var(--btn-height) var(--btn-fill-in-hover);
  -o-box-shadow: inset 0 0 0 var(--btn-height) var(--btn-fill-in-hover);
}

.my-btn.my-btn-pulse {
  color: var(--btn-fill-in-hover);
}

.my-btn.my-btn-pulse:hover {
  color: var(--btn-pulse-hover);
  -webkit-animation: pulse 0.5s;
  -moz-animation: pulse 0.5s;
  -ms-animation: pulse 0.5s;
  -o-animation: pulse 0.5s;
}

.my-btn.my-btn-close-l-r {
  color: var(--btn-pulse-hover);
}

.my-btn.my-btn-close-l-r:hover {
  border: var(--btn-close-l-r-hover);
  -webkit-box-shadow: inset calc(var(--btn-width) / 2) 0 0 0 var(--btn-close-l-r-hover), inset calc(var(--btn-width) / 2 * -1) 0 0 0 var(--btn-close-l-r-hover);
  -moz-box-shadow: inset calc(var(--btn-width) / 2) 0 0 0 var(--btn-close-l-r-hover), inset calc(var(--btn-width) / 2 * -1) 0 0 0 var(--btn-close-l-r-hover);

  -o-box-shadow: inset calc(var(--btn-width) / 2) 0 0 0 var(--btn-close-l-r-hover), inset calc(var(--btn-width) / 2 * -1) 0 0 0 var(--btn-close-l-r-hover);
  -ms-box-shadow: inset calc(var(--btn-width) / 2) 0 0 0 var(--btn-close-l-r-hover), inset calc(var(--btn-width) / 2 * -1) 0 0 0 var(--btn-close-l-r-hover);
}

.my-btn.my-btn-close-u-d {
  color: var(--btn-close-l-r-hover);
}

.my-btn.my-btn-close-u-d:hover {
  border-color: var(--btn-close-u-d-hover);
  -webkit-box-shadow: inset 0 calc(var(--btn-height) / 2) 0 0 var(--btn-close-u-d-hover), inset 0 calc(var(--btn-height) / 2 * -1) 0 0 var(--btn-close-u-d-hover);
  -moz-box-shadow: inset 0 calc(var(--btn-height) / 2) 0 0 var(--btn-close-u-d-hover), inset 0 calc(var(--btn-height) / 2 * -1) 0 0 var(--btn-close-u-d-hover);

  -o-box-shadow: inset 0 calc(var(--btn-height) / 2) 0 0 var(--btn-close-u-d-hover), inset 0 calc(var(--btn-height) / 2 * -1) 0 0 var(--btn-close-u-d-hover);
  -ms-box-shadow: inset 0 calc(var(--btn-height) / 2) 0 0 var(--btn-close-u-d-hover), inset 0 calc(var(--btn-height) / 2 * -1) 0 0 var(--btn-close-u-d-hover);
}

.my-btn.my-btn-raise {
  color: var(--btn-close-u-d-hover);
}

.my-btn.my-btn-raise:hover {
  color: var(--btn-raise-hover);
  -webkit-box-shadow: 0 25px 10px -15px var(--btn-raise-hover);
  -moz-box-shadow: 0 25px 10px -15px var(--btn-raise-hover);
  -webkit-transform: translateY(-6px);
  -moz-transform: translateY(-6px);
  -ms-transform: translateY(-6px);
  -o-transform: translateY(-6px);

  -ms-box-shadow: 0 25px 10px -15px var(--btn-raise-hover);
  -o-box-shadow: 0 25px 10px -15px var(--btn-raise-hover);
}

.my-btn.my-btn-slide-up {
  color: var(--btn-raise-hover);
}

.my-btn.my-btn-slide-up:hover {
  border-color: var(--btn-slide-up-hover);
  -webkit-box-shadow: inset 0 calc(var(--btn-height) * -1) 0 0 var(--btn-slide-up-hover);
  -moz-box-shadow: inset 0 calc(var(--btn-height) * -1) 0 0 var(--btn-slide-up-hover);

  -ms-box-shadow: inset 0 calc(var(--btn-height) * -1) 0 0 var(--btn-slide-up-hover);
  -o-box-shadow: inset 0 calc(var(--btn-height) * -1) 0 0 var(--btn-slide-up-hover);
}

.my-btn.my-btn-slide-right {
  color: var(--btn-slide-up-hover);
}

.my-btn.my-btn-slide-right:hover {
  border-color: var(--btn-slide-right-hover);
  -webkit-box-shadow: inset var(--btn-width) 0 0 0 var(--btn-slide-right-hover);
  -moz-box-shadow: inset var(--btn-width) 0 0 0 var(--btn-slide-right-hover);

  -ms-box-shadow: inset var(--btn-width) 0 0 0 var(--btn-slide-right-hover);
  -o-box-shadow: inset var(--btn-width) 0 0 0 var(--btn-slide-right-hover);
}

.my-btn.my-btn-slide-down {
  color: var(--btn-slide-right-hover);
}

.my-btn.my-btn-slide-down:hover {
  border-color: var(--btn-slide-down-hover);
  -webkit-box-shadow: inset 0 var(--btn-height) 0 0 var(--btn-slide-down-hover);
  -moz-box-shadow: inset 0 var(--btn-height) 0 0 var(--btn-slide-down-hover);
  -ms-box-shadow: inset 0 var(--btn-height) 0 0 var(--btn-slide-down-hover);
  -o-box-shadow: inset 0 var(--btn-height) 0 0 var(--btn-slide-down-hover);
}

.my-btn.my-btn-slide-left {
  color: var(-btn-slide-down-hover);
}

.my-btn.my-btn-slide-left:hover {
  border-color: var(--btn-slide-left-hover);
  -webkit-box-shadow: inset calc(var(--btn-width) * -1) 0 0 var(--btn-slide-left-hover);
  -moz-box-shadow: inset calc(var(--btn-width) * -1) 0 0 var(--btn-slide-left-hover);
  -ms-box-shadow: inset calc(var(--btn-width) * -1) 0 0 var(--btn-slide-left-hover);
  -o-box-shadow: inset calc(var(--btn-width) * -1) 0 0 var(--btn-slide-left-hover);
}

.my-btn.my-btn-offset {
  -webkit-box-shadow: inset 5px 5px 0 0 var(--btn-slide-left-hover), 5px 5px 0 0 var(--btn-slide-left-hover);
  -moz-box-shadow: inset 5px 5px 0 0 var(--btn-slide-left-hover), 5px 5px 0 0 var(--btn-slide-left-hover);
  color: var(--btn-slide-left-hover);

  -o-box-shadow: inset 5px 5px 0 0 var(--btn-slide-left-hover), 5px 5px 0 0 var(--btn-slide-left-hover);
  -ms-box-shadow: inset 5px 5px 0 0 var(--btn-slide-left-hover), 5px 5px 0 0 var(--btn-slide-left-hover);
}

.my-btn.my-btn-offset:hover {
  border-color: var(--btn-offset-hover);
  -webkit-box-shadow: inset var(--btn-width) var(--btn-height) 0 0 var(--btn-offset-hover), 0 0 0 0 var(--btn-raise-hover);
  -moz-box-shadow: inset var(--btn-width) var(--btn-height) 0 0 var(--btn-offset-hover), 0 0 0 0 var(--btn-raise-hover);

  -o-box-shadow: inset var(--btn-width) var(--btn-height) 0 0 var(--btn-offset-hover), 0 0 0 0 var(--btn-raise-hover);
  -ms-box-shadow: inset var(--btn-width) var(--btn-height) 0 0 var(--btn-offset-hover), 0 0 0 0 var(--btn-raise-hover);
}

.my-btn:hover {
  color: #fff;
  font-weight: bold;
}

@-moz-keyframes pulse {
  from {
    box-shadow: 0 0 0 0 var(--btn-pulse-hover);
  }

  to {
    box-shadow: 0 0 0 var(--btn-height) transparent;
  }
}

@-webkit-keyframes pulse {
  from {
    box-shadow: 0 0 0 0 var(--btn-pulse-hover);
  }

  to {
    box-shadow: 0 0 0 var(--btn-height) transparent;
  }
}

@-o-keyframes pulse {
  from {
    box-shadow: 0 0 0 0 var(--btn-pulse-hover);
  }

  to {
    box-shadow: 0 0 0 var(--btn-height) transparent;
  }
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 var(--btn-pulse-hover);
  }

  to {
    box-shadow: 0 0 0 var(--btn-height) transparent;
  }
}